<section class="about">
  <div class="container about__cont-flex">
    <div>
      <h2 class="about__title">About Us</h2>
      <p class="about__paragraph">
        The model offers a framework for discussing problems related to the
        user's experience, as well as possible ways and means of solving them.
        Application development begins at the top level (strategy), where the
        future software product is described quite abstractly from the point of
        view of the expectations of both users and the customer.
      </p>
      <div>
        <ul class="about__list list">
          <li class="about__item item">
            <p class="about__numb">800</p>
            <p class="about__text">Pupils</p>
          </li>
          <li class="about__item item">
            <p class="about__numb">18</p>
            <p class="about__text">Teachers</p>
          </li>
          <li class="about__item item">
            <p class="about__numb">6</p>
            <p class="about__text">
              Foreign <br />
              languages
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <img
        class="about__img"
        src="./images/business-competition.jpg"
        alt="business"
        width="540"
        height="540"
      />
    </div>
  </div>
</section>
