<section class="contact section ">
  <div class="contact__container">
    <img class="contact__card" src="./images/contact-img.png" alt="Контакт" width="425" />
    <div class="contact__form-box">
      <h1 class="title">Contact Us</h1>
      <form class="contact__form">
        <p class="contact__text">Discover your current English level by
          taking our free online English test. Sign up to our newsletter
          for learning tips and free resources</p>
        <label>
          <input class="contact__field-form" type="email" name="mail" placeholder="Enter Your E-mail"></input>
        </label>
        <button class="contact__btn-form" type="submit">Subscribe
        </button>
      </form>
    </div>
  </div>
</section>