<footer class="footer">
    <section class="container footer__container">
        <a href="" class="logo link footer-logo">Brit<span class="logo-item">lex</span></a>

        <ul class="footer-list list">
            <li class="footer-item"><a href="" class="footer-link link">Terms and Conditions</a></li>
            <li class="footer-item">
                <a href="" class="footer-link link">Privacy Policy</a>
            </li>
            <li class="footer-item">
                <a href="" class="footer-link link">Cookie Policy</a>
            </li>
        </ul>
    </section>
</footer>