<section class="section">
    <div class="container">
        <div class="hero">
            <div class="hero__right-side">
                <h1 class="hero__title">Learn
                    Any Foreign
                    Language</h1>
                <p class="hero__descr">
                    With our teachers who write a program for
                    each student, you will be able to make your
                    first sketch after the first lesson.
                </p>
                <button type="button" class="hero_btn">Get started</button>
            </div>
            <div class="hero__img">
                <img src="./images/hero-learning-languages.png" alt="hero-learning-languages">
            </div>
        </div>
    </div>
</section>