<!-- HERO -->
<section class="hero container">
    <div class="hero__container">
        <h1 class="hero__title">Learn Any Foreign Language</h1>
        <p class="hero__text">With our teachers who write a program for each student, you will be able to make your first
            sketch after the first lesson.</p>
        <button class="hero__btn" type="button">Get started</button>
    </div>
    <div class="hero__wrapper">
        <img src="./images/hero-learning-languages.png" alt="girl" width="654" height="510">
    </div>
</section>