<section class="section">
    <div class="container">
        <h2 class="title"> Pricing</h2>
        <ul class="pricing__list list">
            <li class="pricing__items">
                <img class="pricing__img"  src="./images/online-img.png" alt="">
                <div class="pricing__sect">
                    <h3 class="pricing__title">Self-study online course</h3>
                    <p class="pricing__descr">Start learning English online in live classes
                        with qualified EC teachers and students
                        from all over the world.</p>
                    <div class="price">
                        <p class="price__number"> £5.99</p>
                        <p class="price__mth"> per month</p>
                    </div>
                </div>
            </li>
            <li class="pricing__items">
                <img  class="pricing__img" src="./images/lesson-img.png" alt="">
                <div class="pricing__sect">
                    <h3 class="pricing__title">Live online classes</h3>
                    <p class="pricing__descr">Interactive group classes with expert
                        teachers. Free 7-day trial</p>
                    <div class="price">
                        <p class="price__number"> £12.99</p>
                        <p class="price__mth">per month</p>
                    </div>
                </div>
            </li>
            <li class="pricing__items">
                <img  class="pricing__img" src="./images/webinar-img.png" alt="">
                <div class="pricing__sect">
                    <h3 class="pricing__title">Personal Tuition</h3>
                    <p class="pricing__descr">
                        Online one-to-one English tutoring – enjoy
                        our first session for only $1</p>
                    <div class="price">
                        <p class="price__number"> £12.99</p>
                        <p class="price__mth">per month</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</section>