<!-- SKILLS -->
<section class="section">
  <h2 class="skills-title">Skills</h2>
  <div class="container">
    <ul class="list">
      <li class="list-item">
        <img
          class="skills-img"
          src="./images/speaking-skills.png"
          alt="talking people"
        />
        <div class="skill-list-description">
          <h3 class="list-item-title">Speaking</h3>
          <p class="skills-text">
            Improve your English skills and confidence. Live classes and
            interactive lessons online. 20% extra free for a limited time only
            Learn English online and improve your skills through our
            high-quality courses and resources – all designed for adult language
            learners.
          </p>
          <button class="button" type="button">Learn more</button>
        </div>
      </li>
      <li class="list-item">
        <img
          class="skills-img"
          src="./images/writing-skills.png"
          alt="typeng machine"
        />
        <div class="skill-list-description">
          <h3 class="list-item-title">Writing</h3>
          <p class="skills-text">
            One of the most important and extensive areas of natural science,
            the science that studies substances, also their composition
          </p>
          <button class="button" type="button">Learn more</button>
        </div>
      </li>
      <li class="list-item">
        <img
          class="skills-img"
          src="./images/reading-skills.png"
          alt="bookshelves"
        />
        <div class="skill-list-description">
          <h3 class="list-item-title">Reading</h3>
          <p class="skills-text">
            Perception and response actions of the user resulting from the use
            and/or upcoming use of the product, system or service
          </p>
          <button class="button" type="button">Learn more</button>
        </div>
      </li>
      <li class="list-item">
        <img
          class="skills-img"
          src="./images/listening-skills.png"
          alt="audience"
        />
        <div class="skill-list-description">
          <h3 class="list-item-title">Listening</h3>
          <p class="skills-text">
            Here you can find activities to practise your listening skills.
            Listening will help you to improve your understanding
          </p>
          <button class="button" type="button">Learn more</button>
        </div>
      </li>
    </ul>
  </div>
</section>
