.contact {
    &__container {
        display: flex;
        gap: 144px;
        justify-content: center;
    }

    &__title {
        margin-bottom: 60px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 48px;
        line-height: calc(72 / 48);
        color: #000000;
    }

    &__text {
        max-width: 654px;
        margin-bottom: 30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #8F95A5;
    }

    &__field-form {
        width: 425px;
        height: 70px;
        border: 1px solid #8F95A5;
        border-radius: 10px;
    }

    &__btn-form {
        min-width: 312px;
        padding: 20px 56px;
        margin-left: 30px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        line-height: calc(30/20);
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        background: #263238;
        border-radius: 10px;
    }
}