/* Skill section */

.skills-title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: calc(72 / 48);
  color: #000000;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list-item {
  background-color: #f5f5f5;
  border-radius: 10px;
}
.list-item {
  width: 426px;
  height: 579px;
}

.list-item:first-child {
  height: 947px;
}

.list-item:last-child {
  width: 822px;
}
/* Skills section */
.skills-img {
  display: block;
  margin-bottom: 24px;
}

.list-item-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
  line-height: calc(45 / 30);
  color: #263238;
}

.skills-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #8f95a5;
  margin-bottom: 30px;
}

.button {
  color: #ffffff;
  background: #263238;
  border-radius: 10px;
  width: 230px;
  height: 60px;
}
